# pandas

pandas is a python library used for working with data sets . It has functions for analyzing , cleaning , exploring , and manipulating data

In [1]:
#pandas installation
!pip install pandas

Requirement already satisfied: pandas in c:\users\hasan shaik\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hasan shaik\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hasan shaik\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\hasan shaik\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\hasan shaik\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
#import pandas library
import pandas as pd

DataFrame is one type of data structure we used pandas library to create dataframe 

DataFrame has many in-build function which we used to do many different opretions on data

In [4]:
# create simple data frame using list 
L1 = [[1,2,3],[4,5,6],[7,8,9]]

In [5]:
df = pd.DataFrame(L1)

In [6]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [7]:
# now adding column and row name in data frame 
df = pd.DataFrame(L1 , columns = ['c1','c2','c3'] , index = ['r1','r2','r3'])

In [8]:
df

    c1  c2  c3
r1   1   2   3
r2   4   5   6
r3   7   8   9

In [13]:
# creating data frame using dictionry
dict = {'NAME':['A','B','C'],'GENDER':['M','F','F']}

In [14]:
df = pd.DataFrame(dict, index = ['r1','r2','r3'])

In [15]:
df

   NAME GENDER
r1    A      M
r2    B      F
r3    C      F

In [16]:
# create dataframe using numpy arrays
import numpy as np

In [17]:
var = np.arange(0,20).reshape(4,5)

In [19]:
var

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [20]:
type(var)

numpy.ndarray

In [23]:
#now converts this into the form of dataframe
df = pd.DataFrame(var)

In [22]:
df

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [24]:
# we can also add cols and rows name if we need 
df = pd.DataFrame(var , columns = ['c1','c2','c3','c4','c5'] , index = ['r1','r2','r3','r4'])

In [25]:
df

    c1  c2  c3  c4  c5
r1   0   1   2   3   4
r2   5   6   7   8   9
r3  10  11  12  13  14
r4  15  16  17  18  19

In [26]:
type(df)

pandas.core.frame.DataFrame